body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
p, h4, h1{
    margin:0.5rem;
    padding: 0;
}
p, li{
    color: gray;
}
.details p{
    color: #000;
}
#wraps .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
}
#wraps .tops{
    margin: 0 1rem;
}
.tops h1{
    text-transform: uppercase;
}
.tops p{
    font-size: 20px;
    color: gray;
}
#wraps .details p{
    margin-top: 1rem;
}
.left-side h1, .right-side h1{
    border-bottom: 3px solid #000;
    text-transform: uppercase;
}
.left-side .summary,
.left-side .experience,
.left-side .education,
.right-side .tech-stack,
.right-side .projects{
    width: 70vw;
    margin: 2rem 1rem;
}
.experience .int,
.projects .int{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
}
.experience .int i,
.projects .int i{
    color: gray;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}
.education .uni{
    color: gray;
}
.techs div{
    border-bottom: 3px solid gray;
    margin: 1rem 1rem;
}
.github, .bootstrap, .html, .css, .javascript{
    width: 22vw;
}
.projects h3{
    margin: 0.5rem 1rem;
}
@media(min-width: 768px) {
    .tops .name{
        margin: 3rem 0 0 2rem;
        font-size: 40px;
    }
    .tops p{
        margin-left: 2rem;
    }
    #wraps .details{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 15px;
    }
    .details div{
        width: 30vw;
        margin-top: -0.5rem;
        margin-left: 0.5rem;
    }
    .details div i{
        color: gray;
    }
    #wrapper{
        display: flex;
        flex-direction: row;
    }
    #left{
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100vh;
        /* width: 60vw; */
    }
    #right{
        display: flex;
        flex-wrap: row;
        flex: 1;
        width: 40vw;
    }
    .left-side .summary,
    .left-side .experience,
    .left-side .education{
    width: 52vw;
    margin: 2rem 3rem;
    }
    .right-side .tech-stack,
    .right-side .projects{
        margin-top: 2rem;
        width: 35vw;
    }
    .summary p{
    width: 30vw;
    }
    .tech-stack .techs{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 35vw;
        
    }
    .experience .IS{
        font-size: 25px;
        color: #333;
    }
    .experience .farmkonnect{
        color: gray;
    }
    .experience .int,
    .projects .int{
        display: inline-block;
        margin: 0 0.5rem;
    }
    .projects .int{
        margin: 0 1.2rem;
    }
    .int .int-span{
        margin-left: 1.5rem;
    }
    .education .bsc{
        font-size: 23px;
        color: #333;
    }
    .projects h3{
        font-size: 25px;
        color: #333;
    }
    .github, .bootstrap, .html, .css, .javascript{
        width: 5.5vw;
    }
}